/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

/* Navbar */
nav {
    border-bottom: 1px solid white;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-link, nav .dropdown-item {
    font-size: .9375rem;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Carousel */
#carousel1 {
    background: url(../images/carousel_git.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carousel2 {
    background: url(../images/carousel_docker.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carousel3 {
    background: url(../images/carousel_flask.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carousel4 {
    background: url(../images/carousel_actions.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Cards */
.card-body {
    font-family: 'Source Sans Pro', sans-serif;
}

.card-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

/* Footer */
footer {
    color: #2E2E2E !important;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Headers & Paragraphs */
h3 {
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

p, section a, ol li {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Article Titles */
.article-title {
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;

    background: -webkit-linear-gradient(#3b8d99, #aa4b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article-subtitle {
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;

    background: -webkit-linear-gradient(#000, #456D91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article-data {
    font-family: 'Playfair Display', serif;
}