<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons -->

    <!-- My CSS -->
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}Rod's Mods - {% endblock %}Continuous Integration & Deployment {{ name }}</title>
    {% endblock %}
</head>
<body>
<!-- Header Section -->
<header class="sticky-top bg-dark">
        <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark shadow mb-5">
        <div class="container-fluid">

            <!-- Branding & Mobile Toggler -->
            <a class="navbar-brand" href="/">
                Rod's Mods
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a href="/git" class="nav-link">Git</a>
                    </li>

                    <li class="nav-item">
                        <a href="/docker" class="nav-link">Docker</a>
                    </li>

                    <li class="nav-item">
                        <a href="/flask" class="nav-link">Flask</a>
                    </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Continuous I/D
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/cicd">Integration</a></li>
                        <li><a class="dropdown-item" href="/cicd">Deployment</a></li>
                      </ul>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>

<!-- Main Section -->
<main class="container mb-5">
    <!-- Introduction -->
    <section id="cicd">
        <h3 class="mb-0 pb-0">Continuous Integration & Deployment</h3>

            <a href="https://github.blog/2022-02-02-build-ci-cd-pipeline-github-actions-four-steps/" target="_blank">GitHub Blog: CI/CD</a>

            <p class="mt-3">CI/CD Is a DevOps tactic that makes use of automating. In this case, these techniques are invoked via the usage of
                automated testing with GitHub Actions and eventual deployment to Heroku.
            </p>

            <p>Continuous Integration involves the practice of merging changes to the main branch as often as possible (within reason) by running
                automated tests onto the branch upon certain conditions. Further down the line comes Continuous Deployment, where code that happens
                to pass all the steps/checks successfully is released to the public automatically (in this case, your Heroku app is updated).
            </p>

        <hr class="my-3">
    </section>
    <!-- Development Server vs Production Server -->
    <section id="servers">
        <h3 class="mb-0 pb-0">GitHub Actions & Docker Images</h3>

            <a href="https://github.com/features/actions" target="_blank">GitHub Actions: Features</a>

            <p class="mt-3">So, I've got GitHub Actions configured in a way that allows for continuous integration and deployment. GitHub Actions looks for the
                .yml file within the workflows directory and follows that, similarly to the way that docker looks for Dockerfiles. The first thing one does in the .yml
                file is give it a name at the top. Afterwards, you specify the conditions for jobs to active (on push or pull requests of the master, in this case). Then,
                you assign some jobs. In this case, I've assigned jobs for setting up Ubuntu and running tests, building the Docker containers/updating the repository, and
                deploying to Heroku. The passwords to my Docker account and the access token for my Heroku app have been passed in as GitHub secrets. My development workflow is
                only triggered upon a pull request, and it serves the purpose of checking if the code should be merged. It won't update a Docker repository but will deploy to the development
                Heroku app, so one is given the chance to review the site there if needed. The production workflow is triggered upon a git push, and it both updates the associated Docker repository and
                deploys to the production Heroku app, which is the one that "customers" would see.
            </p>

            <p></p>

    </section>
</main>
<!-- Footer -->
<footer class="border-top w-100 position-relative bottom-0 end-0">
    <div class="container">
        <p class="text-center">Made by Rodney Nuñez</p>
    </div>
</footer>

<!-- Bootstrap Scripts: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- Custom Scripts -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>