<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons -->

    <!-- My CSS -->
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}Rod's Mods - {% endblock %}Homepage {{ name }}</title>
    {% endblock %}

</head>
<body>

<header class="bg-dark">
        <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark shadow">
        <div class="container-fluid">

            <!-- Branding & Mobile Toggler -->
            <a class="navbar-brand" href="/">
                Rod's Mods
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a href="/git" class="nav-link">Git</a>
                    </li>

                    <li class="nav-item">
                        <a href="/docker" class="nav-link">Docker</a>
                    </li>

                    <li class="nav-item">
                        <a href="/flask" class="nav-link">Flask</a>
                    </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Continuous I/D
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/cicd">Integration</a></li>
                        <li><a class="dropdown-item" href="/cicd">Deployment</a></li>
                      </ul>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>

<!-- Main Section -->
<main class="mb-5">
    <!-- Carousel -->
    <div class="row mb-4">
        <div id="mainCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">

            <!-- Indicators -->
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>

            <!-- Items -->
              <div class="carousel-inner rounded">

                <div class="carousel-item rounded active" style="height: 30rem;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Git & GitHub</h5>
                    <p>Learn about Repositories, Commits, Branches, Merging, & Tags.</p>
                  </div>
                </div>

                <div class="carousel-item rounded" style="height: 30rem;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Docker</h5>
                    <p>Learn about Containers, Images, Terminal Commands, and starting a project via the terminal.</p>
                  </div>
                </div>

                <div class="carousel-item rounded" style="height: 30rem;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Python & Flask</h5>
                    <p>Learn about PyTest, creating simple pages, Flask Blueprint, and Flask Testing.</p>
                  </div>
                </div>

                <div class="carousel-item rounded" style="height: 30rem;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Continuous Integration & Deployment</h5>
                    <p>Learn about GitHub Actions, reviewing code via a Development Server before Merging, and deploying to a Production Server.</p>
                  </div>
                </div>

              </div>

            <!-- Controls -->
              <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>

              <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>

        </div>
    </div>

<!-- Cards -->
<div class="container">
    <div class="row g-3 row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4 mb-4">

        <div class="col">
            <div class="card mx-auto shadow">
              <img src="../static/images/cards_git.png" class="card-img-top" alt="Git Card Image">
              <div class="card-body">
                <h5 class="card-title">Git</h5>
                <p class="card-text">Learn about Git and Github!</p>
                <a href="/git" class="btn btn-success shadow-sm">Learn</a>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card mx-auto shadow">
              <img src="../static/images/cards_docker.png" class="card-img-top" alt="Docker Card Image">
              <div class="card-body">
                <h5 class="card-title">Docker</h5>
                <p class="card-text">Learn about Docker!</p>
                <a href="/docker" class="btn btn-success shadow-sm">Learn</a>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card mx-auto shadow">
              <img src="../static/images/cards_python.png" class="card-img-top" alt="Python Card Image">
              <div class="card-body">
                <h5 class="card-title">Python & Flask</h5>
                <p class="card-text">Learn about Python and Flask!</p>
                <a href="/flask" class="btn btn-success shadow-sm">Learn</a>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card mx-auto shadow">
              <img src="../static/images/cards_cicd.png" class="card-img-top" alt="Continuous Integration and Deployment Card Image">
              <div class="card-body">
                <h5 class="card-title">Continuous I/D</h5>
                <p class="card-text">Learn about GitHub Actions!</p>
                <a href="/cicd" class="btn btn-success shadow-sm">Learn</a>
              </div>
            </div>
        </div>

    </div>
</div>

</main>
<!-- Footer -->
<footer class="border-top w-100 position-relative bottom-0 end-0">
    <div class="container">
        <p class="text-center">Made by Rodney Nuñez</p>
    </div>
</footer>

<!-- Bootstrap Scripts: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- Custom Scripts -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>