<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons -->

    <!-- My CSS -->
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}Rod's Mods - {% endblock %}OOP Glossary {{ name }}</title>
    {% endblock %}
</head>
<body>
<!-- Header Section -->
<header class="sticky-top bg-light">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light shadow mb-5">
        <div class="container-fluid">

            <!-- Branding & Mobile Toggler -->
            <a class="navbar-brand" href="/">
                Rod's Mods
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a href="/git" class="nav-link">Git</a>
                    </li>

                    <li class="nav-item">
                        <a href="/docker" class="nav-link">Docker</a>
                    </li>

                    <li class="nav-item">
                        <a href="/flask" class="nav-link">Flask</a>
                    </li>

                    <li class="nav-item">
                        <a href="/cicd" class="nav-link">CICD</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Articles
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item active" href="/oop-terms">OOP: Terms</a></li>
                            <li><a class="dropdown-item" href="/oop-principles">OOP: Principles</a></li>
                            <li><a class="dropdown-item" href="/solid">SOLID Principles</a></li>
                            <li><a class="dropdown-item" href="/aaa">AAA Tests: Python</a></li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>

<!-- Main Section -->
<main class="container mb-5">
    <div class="row">

        <!-- Article Content -->
        <div class="col-sm-9">
            <!-- Article Header -->
            <section class="article-header">

                <p class="article-data text-decoration-underline mb-1">Rodney Nuñez / Mar 18, 2022</p>
                <h1 class="article-title">Object-Oriented Programming: Glossary</h1>
                <a href="https://www.geeksforgeeks.org/differences-between-procedural-and-object-oriented-programming/#:~:text=In%20procedural%20programming%2C%20program%20is,programming%20follows%20bottom%20up%20approach."
                   target="_blank">GeeksForGeeks: Procedural vs Object-Oriented Programming</a>

                <hr class="my-3 shadow">

            </section>
            <!-- Article Body -->
            <section class="article-body">

                <!-- Class Section -->
                <section id="oop-class" class="ps-2">

                    <h2 class="article-subtitle">Class</h2>

                    <!-- Class Pill List -->
                    <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-class-definition-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-class-definition" type="button" role="tab"
                                    aria-controls="pills-class-definition" aria-selected="true">Definition
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-instance-data-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-instance-data" type="button" role="tab"
                                    aria-controls="pills-instance-data" aria-selected="false">Instance Data
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-constructor-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-constructor" type="button" role="tab"
                                    aria-controls="pills-constructor" aria-selected="false">Constructor
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-methods-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-methods" type="button" role="tab"
                                    aria-controls="pills-methods" aria-selected="false">Methods
                            </button>
                        </li>
                    </ul>

                    <!-- Class Pill Content -->
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-class-definition" role="tabpanel"
                             aria-labelledby="pills-class-definition-tab">

                            <a href="https://brilliant.org/wiki/classes-oop/" target="_blank">Brilliant.org Article</a>

                            <p>When you hear the word "class" in reference to object-oriented programming, the
                                clear
                                image of a blueprint should come to mind. This is due to the fact that classes
                                serve as
                                the blueprints for objects. In class-based languages like Java, C++, and Python,
                                classes define things like the data attributes and the methods/functions that'll
                                be used
                                to manipulate said data.
                            </p>
                            <p>Let's take the example of a Person class. Check out the image to see how it would
                                be
                                declared in Java.</p>

                        </div>

                        <div class="tab-pane fade" id="pills-instance-data" role="tabpanel"
                             aria-labelledby="pills-instance-data-tab">
                            <p>Typically the first thing defined and/or instantiated within the class itself are its
                                instance data, or attributes. For example, a Dog class might have attributes for
                                their
                                name, behavior, A good practice is to attach the "private" access modifier
                                keyword to the attributes so that they can only be accessed/modified via the
                                built-in
                                methods; meaning they can't be changed or accessed directly. On top of this, the
                                named
                                for the instance data should follow camelCase or snake_case notation.
                            </p>
                            <p>Our Person class can have attributes for many things, but let's just go with a name
                                and
                                weight. The weight is in pounds and should be some sort of floating-point number,
                                while
                                the name should be a String.
                            </p>
                        </div>

                        <div class="tab-pane fade" id="pills-constructor" role="tabpanel"
                             aria-labelledby="pills-constructor-tab">
                            <p>The constructor(s) are an essential part of classes as they define how they should be
                                instantiated. This goes hand-in-hand with the concept of instantiation
                            </p>
                        </div>

                        <div class="tab-pane fade" id="pills-methods" role="tabpanel"
                             aria-labelledby="pills-methods-tab">
                            <p>definition: (function within a class) (defines behavior of a class)
                                general:
                                static method:</p>
                        </div>

                        <hr class="w-75 my-4">
                    </div>
                </section>
                <!-- Object Section -->
                <section id="oop-obj" class="ps-2">

                    <h2 class="article-subtitle">Object</h2>

                    <!-- Object Pill List -->
                    <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-obj-definition-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-obj-definition" type="button" role="tab"
                                    aria-controls="pills-obj-definition" aria-selected="true">Definition
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-instantiation-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-instantiation" type="button" role="tab"
                                    aria-controls="pills-instantiation" aria-selected="false">Instantiation
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-constructor-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-constructor" type="button" role="tab"
                                    aria-controls="pills-constructor" aria-selected="false">Constructor
                            </button>
                        </li>
                    </ul>

                    <!-- Object Pill Content -->
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-obj-definition" role="tabpanel"
                             aria-labelledby="pills-obj-definition-tab">
                            obj definition
                        </div>

                        <div class="tab-pane fade" id="pills-instantiation" role="tabpanel"
                             aria-labelledby="pills-instantiation-tab">
                            instantiation
                        </div>

                        <div class="tab-pane fade" id="pills-constructor" role="tabpanel"
                             aria-labelledby="pills-constructor-tab">
                            cry
                        </div>

                    </div>

                    <hr class="w-75 my-4">

                </section>
                <!-- Principles Section -->
                <section id="principles-section" class="ps-2">

                    <h2 class="article-subtitle">OOP Principles</h2>

                    <!-- Principles Pill List -->
                    <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-oop-encapsulation-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-oop-encapsulation" type="button" role="tab"
                                    aria-controls="pills-oop-encapsulation" aria-selected="true">Encapsulation
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-abstraction-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-abstraction" type="button" role="tab"
                                    aria-controls="pills-abstraction" aria-selected="false">Abstraction
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-inheritance-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-inheritance" type="button" role="tab"
                                    aria-controls="pills-inheritance" aria-selected="false">Inheritance
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-polymorphism-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-polymorphism" type="button" role="tab"
                                    aria-controls="pills-polymorphism" aria-selected="false">Polymorphism
                            </button>
                        </li>
                    </ul>

                    <!-- Principles Pill Content -->
                    <div class="tab-content" id="pills-tabContent">

                        <a href="https://www.indeed.com/career-advice/career-development/what-is-object-oriented-programming"
                           target="_blank">Indeed Article</a>

                        <div class="tab-pane fade show active" id="pills-oop-encapsulation" role="tabpanel"
                             aria-labelledby="pills-oop-encapsulation-tab">
                            The fact that we can group related properties and the methods that perform operations on
                            them into one unit. A class is "well-encapsulated" if its properties aren't directly
                            accessible and can only be modified using its methods. Encapsulation ensures that the
                            class/object code doesn't leak into the rest of the program, so it takes you one step
                            further from spaghetti code.
                        </div>

                        <div class="tab-pane fade" id="pills-abstraction" role="tabpanel"
                             aria-labelledby="pills-abstraction-tab">
                            When some of the properties or methods of a class are purposely hidden from the outside
                            (usually declared as private) in order to achieve a simpler interface for both the
                            programmers and the end-user, and less of an impact when it comes to changes involving
                            the aforementioned hidden data. It's easier to use an object with fewer properties and
                            methods; even if using the methods is comparable to throwing information into a magic
                            box and getting the desired result out.
                        </div>

                        <div class="tab-pane fade" id="pills-inheritance" role="tabpanel"
                             aria-labelledby="pills-inheritance-tab">
                            Inheritance
                        </div>

                        <div class="tab-pane fade" id="pills-polymorphism" role="tabpanel"
                             aria-labelledby="pills-polymorphism-tab">
                            Polymorphism
                        </div>

                    </div>

                    <hr class="w-75 my-4">

                </section>
                <!-- Next Section -->
                <section id="general-terms-section" class="ps-2">

                    <h2 class="article-subtitle">General Terms</h2>

                    <!-- Principles Pill List -->
                    <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-static-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-static" type="button" role="tab"
                                    aria-controls="pills-static" aria-selected="true">Static
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-ut-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-ut" type="button" role="tab"
                                    aria-controls="pills-ut" aria-selected="false">Unit Test
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-fixture-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-fixture" type="button" role="tab"
                                    aria-controls="pills-fixture" aria-selected="false">Fixture
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-type-hint-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-type-hint" type="button" role="tab"
                                    aria-controls="pills-type-hint" aria-selected="false">Type Hint
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-type-cast-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-type-cast" type="button" role="tab"
                                    aria-controls="pills-type-cast" aria-selected="false">Type Cast
                            </button>
                        </li>
                    </ul>

                    <!-- Principles Pill Content -->
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-static" role="tabpanel"
                             aria-labelledby="pills-static-tab">
                            Static Definition (keyword, methods, instance data)
                        </div>

                        <div class="tab-pane fade" id="pills-ut" role="tabpanel"
                             aria-labelledby="pills-ut-tab">
                            Unit Tests Definition
                        </div>

                        <div class="tab-pane fade" id="pills-fixture" role="tabpanel"
                             aria-labelledby="pills-fixture-tab">
                            Fixture Definition
                        </div>

                        <div class="tab-pane fade" id="pills-type-hint" role="tabpanel"
                             aria-labelledby="pills-type-hint-tab">
                            Type Hint Definition
                        </div>

                        <div class="tab-pane fade" id="pills-type-cast" role="tabpanel"
                             aria-labelledby="pills-type-cast-tab">
                            Type Cast Definition
                        </div>

                    </div>

                    <hr class="w-75 my-4">

                </section>

            </section>
        </div>
        <!-- Article Navigation -->
        <div class="col-sm">
            <h5>Quick Navigation</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="#oop-class">Class</a></li>
                <li class="list-group-item">Type Cast</li>
            </ul>
        </div>

    </div>
</main>

<!-- Bootstrap Scripts: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

<!-- Custom Scripts -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>