<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons -->

    <!-- My CSS -->
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}Rod's Mods - {% endblock %}OOP Glossary {{ name }}</title>
    {% endblock %}
</head>
<body>
<!-- Header Section -->
<header class="sticky-top bg-light">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light shadow mb-5">
        <div class="container-fluid">

            <!-- Branding & Mobile Toggler -->
            <a class="navbar-brand" href="/">
                Rod's Mods
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a href="/git" class="nav-link">Git</a>
                    </li>

                    <li class="nav-item">
                        <a href="/docker" class="nav-link">Docker</a>
                    </li>

                    <li class="nav-item">
                        <a href="/flask" class="nav-link">Flask</a>
                    </li>

                    <li class="nav-item">
                        <a href="/cicd" class="nav-link">CICD</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Articles
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item active" href="/oop-terms">OOP: Terms</a></li>
                            <li><a class="dropdown-item" href="/oop-principles">OOP: Principles</a></li>
                            <li><a class="dropdown-item" href="/solid">SOLID Principles</a></li>
                            <li><a class="dropdown-item" href="/aaa">AAA Tests: Python</a></li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>

<!-- Main Section -->
<main class="container mb-5">

    <!-- Article Header -->
    <section class="article-header">

        <p class="article-data text-decoration-underline mb-1">Rodney Nuñez / Mar 18, 2022</p>
        <h1 class="article-title">Object-Oriented Programming: Glossary</h1>

        <hr class="my-3 shadow">

    </section>

    <!-- Class-Related Definitions -->
    <section id="class-definitions">
        <h3 class="mb-2 pb-0 text-decoration-underline">Class-Related Definitions</h3>

        <ul>
            <li>
                <p><strong>Class: </strong> The blueprints for objects. Properties, methods, and constructors
                    bundled into one unit.</p>
            </li>
            <li>
                <p><strong>Instance Data: </strong> The properties/characteristics of said classes.</p>
            </li>
            <li>
                <p><strong>Constructors: </strong> Defines how a class is instantiated. Typically initializes or
                    sets the properties to default values.</p>
            </li>
            <li>
                <p><strong>Methods: </strong> Functions within the class that manipulate the properties or perform
                    actions related to the class. They define the behavior of the class.</p>
                <ul>
                    <li><p><strong>Static Methods: </strong> Tied directly to the class; not objects. Static
                        properties/methods can only interact with other things declared as static, and can be called
                        just by using the class's name.</p></li>
                </ul>
            </li>
        </ul>

        <hr class="my-3">
    </section>
    <!-- Object-Related Definitions -->
    <section id="object-definitions">
        <h3 class="mb-2 pb-0 text-decoration-underline">Object-Related Definitions</h3>

        <ul>
            <li>
                <p><strong>Object: </strong> An instance of the class. It has all the properties and methods defined by
                    the class and is its own entity. </p>
            </li>
            <li>
                <p><strong>Instantiation: </strong> Creating a new instance of the class, or an object. An object of a
                    certain class is an instance of said class.</p>
            </li>
            <li>
                <p><strong>Constructors: </strong> Defines how a class is instantiated. Typically initializes or
                    sets the properties to default values.</p>
            </li>
            <li>
                <p><strong>Methods: </strong> Functions within the class that manipulate the properties or perform
                    actions related to the class. They define the behavior of the class.</p>
            </li>

        </ul>

        <hr class="my-3">
    </section>
    <!-- OOP Principles Definitions -->
    <section id="oopP-definitions">
        <h3 class="mb-2 pb-0 text-decoration-underline">The Four OOP Principles</h3>

        <ul>
            <li>
                <p><strong>Encapsulation: </strong> The fact that we can bundle properties and methods into units called
                    classes. Each instance of the class is also its own unit. </p>
            </li>
            <li>
                <p><strong>Abstraction: </strong> Purposely not showing certain properties or methods in classes in
                    order to improve organization and ease of use. The access modifier keywords come into play here a
                    lot. </p>
            </li>
            <li>
                <p><strong>Inheritance: </strong> The process in which a subclass extends from a superclass. The child
                    class inherits all properties and methods from the parent while having the potential to add its own.
                    One parent can have multiple children, but children can only have one direct parent. </p>
            </li>
            <li>
                <p><strong>Polymorphism: </strong> Taking many forms. Refers to the fact that different classes/objects
                    may have methods with the same signature and yet the compiler knows which to invoke depending on the
                    instance of said object. </p>
            </li>
        </ul>

        <hr class="my-3">
    </section>
    <!-- SOLID Principles Definitions -->
    <section id="solid-definitions">
        <h3 class="mb-2 pb-0 text-decoration-underline">The Four SOLID Principles</h3>

        <ul>
            <li>
                <p><strong>Single-Responsibility: </strong> Each class should do one thing and do it well. </p>
            </li>
            <li>
                <p><strong>Open-Closed: </strong> Code should be open for extensions, but closed for impactful
                    modifications.</p>
            </li>
            <li>
                <p><strong>Liskov Substitution: </strong> In reference to Inheritance, the parent clas should be able to
                    be substituted for the child without breaking the code. Children depend on parents. </p>
            </li>
            <li>
                <p><strong>Interface Segregation: </strong> Similar to the Single-Responsibility Principle, each
                    interface should do their own thing well. New interfaces should be created for new features. </p>
            </li>
            <li>
                <p><strong>Dependency Inversion: </strong> Majorly impactful code should not be impacted by small,
                    feature-like code. Dependency should be split by having both be derived from one abstraction. </p>
            </li>
        </ul>

    </section>

</main>
<!-- Footer -->
<footer class="border-top w-100 position-relative bottom-0 end-0">
    <div class="container">
        <p class="text-center">Made by Rodney Nuñez</p>
    </div>
</footer>
<!-- Bootstrap Scripts: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

<!-- Custom Scripts -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>