<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons -->

    <!-- My CSS -->
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}Rod's Mods - {% endblock %}SOLID {{ name }}</title>
    {% endblock %}
</head>
<body>
<!-- Header Section -->
<header class="sticky-top bg-dark">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark shadow mb-5">
        <div class="container-fluid">

            <!-- Branding & Mobile Toggler -->
            <a class="navbar-brand" href="/">
                Rod's Mods
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a href="/git" class="nav-link">Git</a>
                    </li>

                    <li class="nav-item">
                        <a href="/docker" class="nav-link">Docker</a>
                    </li>

                    <li class="nav-item">
                        <a href="/flask" class="nav-link">Flask</a>
                    </li>

                    <li class="nav-item">
                        <a href="/cicd" class="nav-link">CICD</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Articles
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/oop-terms">OOP: Terms</a></li>
                            <li><a class="dropdown-item" href="/oop-principles">OOP: Principles</a></li>
                            <li><a class="dropdown-item active" href="/solid">SOLID Principles</a></li>
                            <li><a class="dropdown-item" href="/aaa">AAA Tests: Python</a></li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>

<!-- Main Section -->
<main class="mb-5">
    <div class="container">

        <!-- Article Header -->
        <section class="article-header">

            <div class="row">

                <!-- Title Image -->
                <div class="col col-12 col-sm-6 col-md-2">
                    <img src="../static/images/articles/oopP_1.png" alt="Image of calculator" class="img-fluid">
                </div>

                <!-- Title + Text -->
                <div class="col">
                    <p class="article-data text-decoration-underline mb-1">Rodney Nuñez / Mar 18, 2022</p>
                    <h1 class="article-title me-lg-5 pe-lg-2">SOLID Principles: The Calculator
                        Program</h1>
                </div>

            </div>

            <hr class="my-3 shadow">

        </section>
        <!-- Single-Responsibility -->
        <section id="single-responsibility">
            <h3 class="mb-0 pb-0">Single Responsibility</h3>

            <a href="https://www.digitalocean.com/community/conceptual_articles/s-o-l-i-d-the-first-five-principles-of-object-oriented-design#single-responsibility-principle"
               target="_blank">Digital Ocean: Definition</a>

            <p class="mt-3">Just like Inheritance, the Single-Responsibility Principle is one that is fairly
                self-explanatory. To sum it up nicely, the principle states that each class should do one thing; and do
                it well. This way, changes in one place can impact everything in a good way. Troubleshooting will also
                become a breeze as there's only one place where a specific thing could go wrong. Just taking a look at
                how the Calculator project's file system is set up shows how it's following this principle. Every major
                thing is its own class and it does its function well.</p>

            <img src="../static/images/articles/solid_1.png" alt="Calculator Class"
                 class="img-fluid rounded shadow w-25 mb-2">

            <hr class="my-3">
        </section>
        <!-- Open-Closed -->
        <section id="open-closed">
            <h3 class="mb-0 pb-0">Open-Closed</h3>

            <a href="https://www.digitalocean.com/community/conceptual_articles/s-o-l-i-d-the-first-five-principles-of-object-oriented-design#open-closed-principle"
               target="_blank">Digital Ocean: Definition</a>

            <p class="mt-3">The Open-Closed Principle is also fairly simple; though it is not as transparent as the
                last. This principle states that completed classes should be open for extension but not for
                modification, as you don't want to drastically change how it behaves. This means that adding some sort
                of new feature is allowed as long as it follows the principles and isn't changing any functional
                behaviors. The code is open to additional functionality but closed to major shifts. With that being
                said, let's take the example of the code being shown below. If I wanted to
                implement some sort of new feature within that specific method, I have to do so in a way that doesn't
                touch or logically change that code, as that method is essential in creating objects for the factory
                mentioned earlier. A new feature that easily comes to mind is adding some sort of check to ensure that
                the values being passed as the tuple_list argument are actually numbers, as this adds functionality
                without taking any away.</p>

            <img src="../static/images/articles/oopP_3.png" alt="Calculator Class (history)"
                 class="img-fluid rounded shadow w-50 mb-2">

            <hr class="my-3">
        </section>
        <!-- Liskov -->
        <section id="liskov">
            <h3 class="mb-0 pb-0">Liskov Substitution</h3>

            <a href="https://www.digitalocean.com/community/conceptual_articles/s-o-l-i-d-the-first-five-principles-of-object-oriented-design#liskov-substitution-principle"
               target="_blank">Digital Ocean: Definition</a>

            <p class="mt-3">The Liskov Substitution principle extends on the Open-Closed Principle and takes aspects of
                Inheritance into account. This principle focuses more on the behavior of a superclass (parent) and its
                children, stating that parent objects should be replaceable with their children without breaking the
                application. As stated in the Inheritance section, child classes should depend on their parent; not the
                other way around. To get into specifics, this means that overridden methods within the child class
                should have the same method signature and behave on a strictness-level comparable to that of the parent
                or the program may throw an exception when dealing with the parent and its children. As seen below, the
                Calculator parent class has a function that returns the argument converted to a tuple of floats. If the
                Addition, Subtraction, or other subclasses wanted to modify it, they should do so in a way that doesn't
                compromise its original usage as that is how you'd follow th principle of Liskov Substitution.</p>

            <img src="../static/images/articles/solid_2.png" alt="Calculator Class"
                 class="img-fluid rounded shadow w-50 mb-2">

            <hr class="my-3">
        </section>
        <!-- Interface Segregation -->
        <section id="interface-segregation">
            <h3 class="mb-0 pb-0">Interface Segregation</h3>

            <a href="https://www.digitalocean.com/community/conceptual_articles/s-o-l-i-d-the-first-five-principles-of-object-oriented-design#interface-segregation-principle"
               target="_blank">Digital Ocean: Definition</a>

            <p class="mt-3">The Interface Segregation Principle is similar to the principle of Single Responsibility in
                the sense that it is meant to reduce widespread issues and enforce organization by separating code by
                function and features. However, this principle is specific to Interfaces and states that overpopulating
                or adding more and more to one interface whenever a new feature is requested is bad practice as it leads
                to a mess and polluting the original interface; it's better to create a new one bearing the new
                functionality. Although the image below more accurately describes the Single-Responsibility Principle as
                the add method in the Calculator class makes use of methods from other classes with very specific
                purposes, you can imagine how it would be for this principle based on that. </p>

            <img src="../static/images/articles/solid_3.png" alt="Calculator Class"
                 class="img-fluid rounded shadow w-50 mb-2">

            <p>The image above shows two separate classes, Multiplication and Subtraction, that have a method named
                getResult() with the exact same header. The method for Multiplication multiplies before returning and
                the behavior for Subtraction's getResult() method should be obvious. That being said, the compiler would
                be able to discern which getResult() is being called depending on which class the object being used to
                access the method is an instance of.
            </p>

            <hr class="my-3">
        </section>
        <!-- Dependency Inversion -->
        <section id="dependency-inversion">
            <h3 class="mb-0 pb-0">Dependency Inversion</h3>

            <a href="https://www.digitalocean.com/community/conceptual_articles/s-o-l-i-d-the-first-five-principles-of-object-oriented-design#dependency-inversion-principle"
               target="_blank">Digital Ocean: Definition</a>

            <p class="mt-3">The idea of the Dependency Inversion principle is not a hard one to grasp as any programmer
                who has dipped theirs toes in Object-Oriented Programming has done this; at least unintentionally. This
                principle states that the High-Level modules in the code that provide abstract logic should not be
                impacted by later created low-level modules that include new features. In order to do this, you (and the
                low/high-level modules) depend on abstractions in order to split their dependence; hence the name of the
                principle. Below you'll find an example of an abstract base class that dependencies may be based on. One
                sees that any class that is a child of Calculation has the functionality of instantiating itself a
                certain way, so that should not change in either the high or low level implementations.</p>

            <img src="../static/images/articles/oopP_4.png" alt="Calculator Class"
                 class="img-fluid rounded shadow w-50 mb-2">

        </section>

    </div>
</main>
<!-- Footer -->
<footer class="border-top w-100 position-relative bottom-0 end-0">
    <div class="container">
        <p class="text-center">Made by Rodney Nuñez</p>
    </div>
</footer>

<!-- Bootstrap Scripts: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

<!-- Custom Scripts -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>